<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    <a class="btn btn-primary" href="/">Index</a>
    <a class="btn btn-primary" href="/animals">Animals</a>
    <a class="btn btn-primary" href="/contacts">Contacts</a>
    <a class="btn btn-primary" href="/panel">Panel</a>
    <a class="btn btn-primary" href="/volunteers">Volunteers</a>
    <h2>Наши контакты</h2>
    <p>Часы работы:</p>
    <p>Пн-пт 10:00-17:00</p>
    <p>Сб-вс 11:00-17:00</p>
    <p>Адрес: улица Петровка, 38с1, Москва, 127006</p>
    <p>Номер телефона: +7 800-555-35-35</p>
    <p>Почта: priut-moscow@mail.ru</p>
</body>
</html>