<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    <a class="btn btn-primary" href="/">Index</a>
    <a class="btn btn-primary" href="/animals">Animals</a>
    <a class="btn btn-primary" href="/contacts">Contacts</a>
    <a class="btn btn-primary" href="/panel">Panel</a>
    <a class="btn btn-primary" href="/volunteers">Volunteers</a>
    <p>Деньги: {{resources.money}} руб.</p>
    <p>Медикаменты: {{resources.meds}} ед.</p>
    <p>Кошачья еда: {{resources.cat_food}} кг.</p>
    <p>Собачья еда: {{resources.dog_food}} кг.</p>
    <p>Денег хватит на: {{ money }} дней</p>
    <p>Медикаментов хватит на {{ meds }} дней</p>
    <p>Еды кошкам хватит на {{ cat_food }} дней</p>
    <p>Еды собакам хватит на {{ dog_food }} дней</p>
</body>
</html>